<?xml version="1.0" encoding="UTF-8"?>
<entity-engine-xml>
	<!-- Add Shipping Method in order to complete checkout when seed is installed -->
	<CarrierShipmentMethod carrierServiceCode="Parcel" createdStamp="2013-05-15 04:24:19.0" createdTxStamp="2013-05-15 04:24:19.0" lastUpdatedStamp="2013-06-21 13:15:47.0" lastUpdatedTxStamp="2013-06-21 13:15:47.0" optionalMessage="3-7 days" partyId="UPS" roleTypeId="CARRIER" sequenceNumber="" shipmentMethodTypeId="STANDARD"/>
	<ProductStoreShipmentMeth allowCompanyAddr="" allowPoBoxAddr="Y" allowUspsAddr="" companyPartyId="" configProps="" createdStamp="2013-06-21 13:15:47.0" createdTxStamp="2013-06-21 13:15:47.0" excludeFeatureGroup="" excludeGeoId="" includeFeatureGroup="" includeGeoId="" includeNoChargeItems="" lastUpdatedStamp="2013-06-21 13:15:47.0" lastUpdatedTxStamp="2013-06-21 13:15:47.0" maxSize="" maxTotal="" maxWeight="" minSize="" minTotal="" minWeight="" partyId="UPS" productStoreId="@store.productStoreId@" productStoreShipMethId="BF_1002" requireCompanyAddr="" requireUspsAddr="" roleTypeId="CARRIER" sequenceNumber="1" serviceName="" shipmentCustomMethodId="" shipmentGatewayConfigId="" shipmentMethodTypeId="STANDARD"/>
	<ShipmentCostEstimate carrierPartyId="UPS" carrierRoleTypeId="CARRIER" createdStamp="2013-06-21 13:15:47.0" createdTxStamp="2013-06-21 13:15:47.0" featurePercent="" featurePrice="" geoIdFrom="" geoIdTo="" lastUpdatedStamp="2013-06-21 13:15:47.0" lastUpdatedTxStamp="2013-06-21 13:15:47.0" orderFlatPrice="6.95" orderItemFlatPrice="" orderPricePercent="" oversizePrice="" oversizeUnit="" partyId="" priceBreakId="" priceUnitPrice="" priceUomId="" productFeatureGroupId="" productStoreId="@store.productStoreId@" productStoreShipMethId="BF_1002" quantityBreakId="" quantityUnitPrice="" quantityUomId="" roleTypeId="" shipmentCostEstimateId="10350" shipmentMethodTypeId="STANDARD" shippingPricePercent="" weightBreakId="" weightUnitPrice="" weightUomId=""/>
</entity-engine-xml>